
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Biciklistički klub</h2>

Aplikacija o clanovima kluba
<br />
Klub: @ViewBag.Klub
<br/>

Popis clanova @Html.ActionLink("link", "Popis")
