
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<BiciklistickiKlub.Models.Kategorija>




@if (ViewBag.NijePrijavljen)
{
    @Html.ActionLink("Prijavite se za pristup forumu", "Prijava", "Korisnici")
}

else
{
    <h3>Kategorije</h3>
    <ul>
        @foreach (var kategorija in Model)
        {
            <li>@Html.ActionLink(kategorija.Naziv, "Teme", new { kategorijaId = kategorija.Id })</li>
        }
    </ul>
}


